.body-class{
background: #a8ff78; 
background: -webkit-linear-gradient(to right, #78ffd6, #D4D4D4); 
background: linear-gradient(to right, #78ffd6, #58A697);
height: 100vh;
width: 100%;
margin-top: 0;
position: relative;
z-index: -1;
}
.food-card {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
align-items: center;
gap:16px;
margin:auto;
position: absolute;
top: 20%;
left: 23%;
height: 250px;
width: 850px;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description{
	height: 250px;
    width: 400px;
}

.card-image{
  height: 250px;
  width: 368px;
  background: url(/pizza.jpg) no-repeat;
  -moz-box-shadow: inset 39px 28px 82px #696666c4;
  -webkit-box-shadow: inset 39px 28px 82px #696666c4;
  box-shadow: inset 39px 28px 82px #696666c4;
}
.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 14px;
}
.card-h{
	font-size: 22px;
	font-weight: 800;
	color:#4A4845 ;
}
.card-header button{
	color: white;
	border-radius: 70px;
	padding: 3px 10px;
	border:none
}
.card-header button:nth-child(1) {
  background: #67B26F;
  margin-right: 5px;
}
.card-header button:nth-child(2){
	background: #4DA3CD;
}
.card-footer{
	display: flex;
	gap:20px;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	color: #4A4845;
}
.card-price{
background: #51A5BA;
background: linear-gradient(to top, #51a5ba,#65B178 );
writing-mode: vertical-rl;
text-orientation: mixed;
color: white;
height: 250px;
width: 50px;
margin: auto;
}

.card-price p{
font-weight: 500;
font-size: 20px;
text-align: center;
margin: 2px;
}


/* responsive device */

@media (max-width: 700px) {
  .food-card {
display: block;
position: absolute;
top: 2%;
left: 0px;
height: 470px;
width: 350px;
background: white;
position: relative;
}
.card-image{
  height: 230px;
  width: 350px;
}
.card-header {
	justify-content: start; gap:30px;
}
.card-h{
	margin-left: 15px;
	font-size: 15px;
}
.para{
	padding: 2px 10px;
}
.card-header button{
	color: white;
	border-radius: 70px;
	padding: 2px 5px;
	border:none;
	font-size: 12px;
}
.card-header button:nth-child(1) {
  background: #67B26F;
  margin-right: 2px;
}
.card-header button:nth-child(2){
	background: #4DA3CD;
}
.card-footer{
	display: flex;
	gap:20px;
	align-items: center;
	margin-left: 15px;
	font-size: 12px;
	
}
.card-price{
background: #51A5BA;
background: linear-gradient(to top, #51a5ba,#65B178 );
writing-mode:horizontal-tb;
text-orientation: mixed;
position: absolute;
bottom: 0px;
left: 0px;
height: 50px;
width: 350px;

}

.card-price p{
font-weight: 500;
font-size: 20px;
text-align: center;
margin: 2px;
}
}